# dependencies
/node_modules
/lock_files_removed
/.pnp
.pnp.js
.env

# testing
/coverage

# production
/build
.env


# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.gitignore
discord bot requirements.txt
.gitignore
discord bot requirements.txt


npm-debug.log*
yarn-debug.log*
yarn-error.log*


mongodb details.txt
/lock_files_removed
